<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.brainworkout.sandowgym">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_sandow_big"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:persistent="true"
        android:theme="@style/AppTheme">
        <activity android:name="ru.brainworkout.sandowgym.activities.ActivityMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ru.brainworkout.sandowgym.activities.ActivityExercisesList"
            android:label="@string/exercises_list_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="ru.brainworkout.sandowgym.activities.ActivityAbout"
            android:label="@string/about_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="ru.brainworkout.sandowgym.activities.ActivityTools"
            android:label="@string/tools"
            android:screenOrientation="portrait" />
        <activity
            android:name="ru.brainworkout.sandowgym.activities.ActivityExercise"
            android:label="@string/exercise_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="ru.brainworkout.sandowgym.activities.ActivityTrainingsList"
            android:label="@string/trainings_list_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="ru.brainworkout.sandowgym.activities.ActivityTraining"
            android:label="@string/training_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name="ru.brainworkout.sandowgym.activities.ActivityOptions"
            android:label="@string/options"
            android:screenOrientation="portrait" />
        <activity
            android:name="ru.brainworkout.sandowgym.activities.ActivityTrainingOptions"
            android:label="@string/training_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="ru.brainworkout.sandowgym.activities.ActivityCalendarView"
            android:label="@string/calendar_view_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="ru.brainworkout.sandowgym.database.manager.AndroidDatabaseManager"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name="ru.brainworkout.sandowgym.activities.ActivityFileExportImport"
            android:label="@string/export_import_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="ru.brainworkout.sandowgym.activities.ActivityUsersList"
            android:label="@string/users_list_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="ru.brainworkout.sandowgym.activities.ActivityUser"
            android:label="@string/user_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="ru.brainworkout.sandowgym.activities.ActivityWeightChangeCalendarList"
            android:label="@string/weight_calendar_change_list_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="ru.brainworkout.sandowgym.activities.ActivityWeightChangeCalendar"
            android:label="@string/weight_calendar_name"
            android:screenOrientation="portrait" />
    </application>

</manifest>